<div>
    <form method="POST" action="/session/login" >
        <label>Username</label>
        <input name="username">
        <br />
        <label>password</label>
        <input name="password">
        <input type="submit">
    </form>
    <button onclick="getCookie()">Ver Cookie</button>
</div>
<script src="/static/js/cookieSetter.js"></script>
