<div>
    <h1>Registro</h1>
    <form action="/session/register" method="post">
        <label>Nombre de usuario</label>
        <input name="username"><br>
        <label>Nombre</label>
        <input name="first_name"><br>
        <label>Apellido</label>
        <input name="last_name"><br>
        <label>Email</label>
        <input name="email"><br>
        <label>Password</label>
        <input type="text" name="password"><br>
        {{!-- <label>Teléfono</label>
        <input name="phone"><br> --}}
        <input type="submit">
    </form>
</div>